body{
    background-color: blueviolet;
}
h1{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    text-align: center;
}
button{
    width: 100px;
    height: 100px;
    margin: 30px;
}
.buttons{
 margin-top: 300px;
 text-align: center;
 h
}